body {
  background: #62c2c8;
  font-family: 'Montserrat', sans-serif;
}

.app {
  background: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  border-radius: 50px;
}

.crossed {
  color: red;
  background: #f0f0f0;
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.list {
  display: flex;
  justify-content: center;
}

.add {
  background: #65aa06;
  margin-top: 5px;
}

.clear {
  background: #d30100;
  margin-bottom: 5px;
}

.btn {
  padding: 10px;
  border: none;
  width: 280px;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

input {
  width: 300px;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

img {
  border-radius: 50%;
}
